body {
  background: url(http://m0.i.pbase.com/g9/31/628831/2/157180320.pjhzrEEO.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hand {
  height: 70px;
  width: 90px;
 transition: all 1s;
 transition-timing: ease-in-out;
 width: 100px;
}
.hand:hover {
transform: rotate(360deg);
}

.site-text-logo a {
  padding-left: 20px;
  padding-right: 20px;
    width: 100%; height: 200%;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #02aace 50%);
    transition: background-position .7s;
}

.site-text-logo a:hover {
    color: black;
    background-position: 0 90%;

}

body h1{
  font-family: 'Gloria Hallelujah', cursive;
}
body h2, h3{
  font-family: 'Dekko', cursive;
}

/*.field-item a:hover {
  box-shadow: black;
}*/
